{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Triton plugin for Craft CMS 3.x
 *
 * Triton index.twig
 *
 * @author    GeeHim Siu
 * @copyright Copyright (c) 2018 GeeHim Siu
 * @link      www.fishawack.com
 * @package   Triton
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Triton" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('triton') %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('triton') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>Upload the Datavision Publication CSV!</h2>
    <p class="textline">
    </p>


    <form action="/admin/triton/upload" enctype="multipart/form-data" method="POST">
        <div style="width:100%; margin: 1.5em 0;">
            <input type="file" name="tritonupload" />
        </div>
        <div style="width:25%; margin: 1.5em 0;">
            <input type="submit" name="submit" value="Import" style="padding:0.5em 0; width: 100%;" />
                    </div>
    </form>

    <button id="updatejson" style="padding:1em 0; width: 25%;">Update Json Cache</button>

    <div id="notification" style="width:100%; min-height: 2.5em; color: #20DE89; margin:1em 0;">
    </div>

    <p style="margin-bottom:1em; width:50%; text-align:justify;">
        <strong style="color:red;">Caution</strong><br>
        I've had problems when you edit the CSV export using a Mac, more often that not
        it'll add extra , to the end of your rows therefore if you are to edit the file
        please make sure it's being saved / edited using something different (VIM edits
        the files without any probs).<br><br>
        Make sure that each section has at least 1 entry - even if the entry only has a title!
        Our plugin needs a single entry to base the sections & types from.
    </p>

    <script type="text/javascript">
    var updateButton = document.querySelector('#updatejson');   
   
    updateButton.addEventListener('click', function() {
        runJsonUpdate()
    });

    function runJsonUpdate()
    {   
        // generate studies
        ajax('http://localhost:8000/triton/updatejsonfiles?data=studies');
        // generate journals
        ajax('http://localhost:8000/triton/updatejsonfiles?data=journals');
        // generate congresses
        ajax('http://localhost:8000/triton/updatejsonfiles?data=congresses');
        // generete tags
        ajax('http://localhost:8000/triton/updatejsonfiles?data=tags');
        // generate pubs
        ajax('http://localhost:8000/triton/updatejsonfiles?data=publications');
    }

    function ajax(path)
    {
        notification('Loading next file ...');
        var xobj = new XMLHttpRequest();
        xobj.open('GET', path);
        
        xobj.onreadystatechange = function () {
            if(xobj.readyState == 4 && xobj.status == "200")
            {
                response = JSON.parse(xobj.responseText);
                notification(response.complete);
            }
        };
        xobj.send(null); 
    }

    function notification(data, error = false)
    {      
        var notification = document.querySelector('#notification');
        notification.innerHTML = '<p>'+data+'</p>';
    }

    </script>
{% endset %}
